.custom-progress-bar {
    @if $current_value == $max_value and $hide_when_full == "true" {
        display: none;
    }
    .wrap {
        display: flex;
        justify-content: center;
    }
}
.progress-bar-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 .5em 1em 0;
    max-width: 500px;
}
.progress-bar-before {
    width: 100%;
}
.progress-bar-data {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: .5em .5em .5em 0;
}
.progress-bar-container {
    display: flex;
    background: rgba(0,0,0,.2);
    max-width: 100%;
    width: #{$progress_bar_width_value}+#{$progress_bar_width_unit};
    height: #{$progress_bar_height_value}+#{$progress_bar_height_unit};;
    margin-right: 0.5em;
    box-shadow: var(--shadow-header);
    border: 1px solid var(--primary-low-mid);
    padding: 3px;
    border-radius: 2px;
}
.progress-status {
    flex: 0 0 auto;
    &:before {
        content: "#{$current_value} / ";
    }
    &:after {
        content: "#{$max_value} #{$progress_unit}";
    }
}
.progress-bar {
    transition: all 1s ease;
    background-color: hsl(calc($current_value * 100 / $max_value), 100%, 50%);
    width: calc(#{$current_value} * 100% / #{$max_value});
    max-width: 100%;
}